.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(#D2B48C, #FFF8DC);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}